<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Routines you have created:</h3>

    {{!-- <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Workout name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">Exercise 1:</label>
        <input class="form-input" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">Exercise 2:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div> --}}

  {{#if workouts.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each workouts as |workout|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{workout.name}}">{{workout.workout.name}}</a></h4>
        <p>Sets: <a href="/project/{{workout.sets}}">{{workout.workout.sets}}</a></p>
        <p>Reps: <a href="/project/{{workout.sets}}">{{workout.workout.reps}}</a></p>
        {{!-- <p>Day:<a href="/project/{{workout.sets}}">{{workout.workout.sets}}</a></p> --}}
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{workout.name}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
